:root {
  /* ---------------------------------------------------------------------------
   * Brand Colors
   */

  --color-primary-hue: 153;
  --color-primary-saturation: 48%;
  --color-primary-lumnosity: 46%;
  --color-primary-hsl: var(--color-primary-hue), var(--color-primary-saturation), var(--color-primary-lumnosity);
  --color-primary: hsl(var(--color-primary-hsl));

  /* ---------------------------------------------------------------------------
   * Grey Colors
   */

  @for $i from 0 through 20 {
    --color-shade-#{$i * 100}-hsl: 0, 0%, #{100 - ($i * 5)}#{'%'};
    --color-shade-#{$i * 100}: #{'hsl(var(--color-shade-#{$i * 100}-hsl))'};
  }

  /* ---------------------------------------------------------------------------
   * Font families
   */

  --font-family-primary: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-family-icons: 'Icons';

  /* ---------------------------------------------------------------------------
   * Font sizes
   */

  --font-size-body: #{em(16px)};
  --font-size-3xs: #{em(8px)};
  --font-size-2xs: #{em(10px)};
  --font-size-xs: #{em(12px)};
  --font-size-s: #{em(14px)};
  --font-size-m: #{em(16px)};
  --font-size-l: #{em(18px)};
  --font-size-xl: #{em(20px)};
  --font-size-2xl: #{em(24px)};
  --font-size-3xl: #{em(28px)};
  --font-size-4xl: #{em(32px)};
  --font-size-5xl: #{em(36px)};
  --font-size-6xl: #{em(40px)};
  --font-size-7xl: #{em(44px)};
  --font-size-8xl: #{em(48px)};
  --font-size-9xl: #{em(52px)};
  --font-size-10xl: #{em(56px)};
  --font-size-11xl: #{em(60px)};
  --font-size-12xl: #{em(64px)};
  --font-size-13xl: #{em(68px)};
  --font-size-14xl: #{em(72px)};

  /* ---------------------------------------------------------------------------
   * Line heights
   */

  --line-height-m: 1;
  --line-height-l: 1.2;
  --line-height-xl: 1.4;
  --line-height-2xl: 1.6;
  --line-height-3xl: 1.8;
  --line-height-4xl: 2;

  /* ---------------------------------------------------------------------------
   * Font weights
   */

  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* ---------------------------------------------------------------------------
   * Radiuses
   */

  --radius-s: #{em((4px))};
  --radius-m: #{em((8px))};
  --radius-l: #{em((12px))};
  --radius-circle: 50%;

  /* ---------------------------------------------------------------------------
   * Shadows
   */

  --shadow-distant: 0 #{em(2px)} #{em(8px)} rgba(0, 0, 0, 0.25);
  --shadow-close: 0 #{em(1px)} #{em(2px)} 0 rgba(0, 0, 0, 0.25);
  --shadow-subtle: 0 0 #{em(1px)} #{em(1px)} rgba(0, 0, 0, 0.25);

  /* ---------------------------------------------------------------------------
   * Spaces
   */

  --space-3xs: #{em((2px))};
  --space-2xs: #{em((4px))};
  --space-xs: #{em((8px))};
  --space-s: #{em((16px))};
  --space-m: #{em((24px))};
  --space-l: #{em((32px))};
  --space-xl: #{em((40px))};
  --space-2xl: #{em((48px))};
  --space-3xl: #{em((56px))};
  --space-4xl: #{em((64px))};
  --space-5xl: #{em((72px))};
  --space-6xl: #{em((80px))};
  --space-7xl: #{em((88px))};

  /* ---------------------------------------------------------------------------
   * Wrappers
   */

  --wrapper-xs: #{em((400px))};
  --wrapper-s: #{em((700px))};
  --wrapper-m: #{em((1000px))};
  --wrapper-l: #{em((1366px))};
  --wrapper-xl: #{em((1600px))};
  --wrapper-2xl: #{em((1920px))};

  /* ---------------------------------------------------------------------------
   * Z Index
   */

  --z-index-pawn: 100;
  --z-index-knight: 200;
  --z-index-bishop: 300;
  --z-index-rook: 400;
  --z-index-queen: 500;
  --z-index-king: 600;

  /* ---------------------------------------------------------------------------
   * Others
   */

  --space-tags-cms: var(--space-m);
}
